<ul>
  <h1><%= @restaurant.name %></h1>
  <li>
     <p>Category: <%= @restaurant.category %></p>
  </li>
  <li>
     <p>Address: <%= @restaurant.address %></p>
  </li>
  <li>
     <p> Book a table: <%= @restaurant.phone_number %></p>
  </li>
</ul>
